<% @cart.cart_items.each do |cart_item| %>
  <p>
    <%= cart_item.product.name %>：(名称：<%= cart_item.product.name %>, 価格：<%= cart_item.product.price %> 円, 数量：<%= cart_item.quantity %>)

    <%= link_to "カートから削除", cart_items, method: :delete %>
  </p>
<% end %>

<p>
    合計金額：<%= @cart.calculate_total_price %> 円
</p>