<h1>カートをみる</h1>

<%= @s = 0 %>
<%= @cart_items.each do |cart_item| %>
  <p>
    <%= @q_n = cart_item.qty %>
    <%= @p_n = cart_item.product_id %><br>
    
    <p>
      商品ID：<%= Product.find(@p_n).id %><br>
    </p>
    
    <p>
      商品名：<%= Product.find(@p_n).name %><br>
    </p>

    <p>
      商品価格：<%= Product.find(@p_n).price %>円<br>
    </p>

    <p>
      数量：<%= @q_n %>個<br>
    </p>
    
    <p>
      合計：<%= @s += Product.find(@p_n).price * @q_n %>円<br>
    </p>
  </p>
  
  <%= button_to "カートから削除" %>
<% end %>

<h3>合計金額は<%= @s %>円です。</h3>
