<h1>商品一覧</h1>

<table>
    <% @products.each do |product| %>
    <tr>
      <p>
        商品ID：
        <%= product.id %><br>
        商品名：
        <%= product.name %><br>
        商品価格：
        <%= product.price %> 円 <br>
        <%= button_to "削除", product, method: :delete  %>
        <%= button_to "カート追加", { controller: "cart_items", action: "new" }, { method: :post, params: { id: product.id, name: product.name, price: product.price }} %>
      </p>
    </tr>
  <% end %>
</table>

<%= button_to "商品を追加する", {controller: 'products', action: 'create'}, method: :post %>
<%= button_to "カートを見る", {controller: 'carts', action: 'show'}, method: :post %>